@charset "utf-8";

* {
	box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, ol, ul, dl, dt, dd, p {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
textarea, input[type=text] {
	padding: 0 10px 0 20px;
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 0.875em;
	font-weight: 500;
	border: none;
}
input[type=text]::-webkit-input-placeholder {
	color: #bbb;
}
input[type=text]::-moz-placeholder {
	color: #bbb;
}
input[type=text]:-ms-input-placeholder {
	color: #bbb;
}
input[type=text]:-moz-placeholder {
	color: #bbb;
}
textarea::placeholder {
	color: #bbb;
}
input[type=button] {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 0.875em;
	font-weight: 500;
}
body {
	min-width: 300px;
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 1em;
}

/* header */
#header {
	position: relative;
	height: 700px;
}
#header .menu_zone {
	position: absolute;
	z-index: 90;
	width: 100%;
	transition: background-color .3s, transform .4s;
}
#header .menu_zone .menu_zone_inner {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -450px;
	width: 900px;
	height: 70px;
	line-height: 70px;
}
#header .menu_zone.active {
	position: fixed;
	height: 90px;
	background-color: rgba(38,157,210,.4);
	transform: translateY(0);
}
#logo {
	float: left;
	margin-top: 10px;
}
#logo a {
	display: block;
	width: 136px;
	height: 43px;
}
#logo a img {
	max-width: 100%;
	vertical-align: middle;
}
#gnb {
	float: right;
	margin-top: 10px;
}
#gnb li {
	display: inline-block;
}
#gnb li a {
	display: block;
	margin-left: 35px;
	height: 32px;
	line-height: 32px;
	font-size: 0.875em;
	font-weight: 500;
	color: #fff;
}
#gnb li a:hover, #gnb li a.on {
	color: #087eb2;
	border-bottom: 2px solid #087eb2;
}
#gnb li:first-child a {
	margin-left: 0;
}
#header .text_zone {
	position: absolute;
	left: 50%;
	top: 200px;
	z-index: 50;
	margin-left: -450px;
	width: 900px;
	height: 264px;
	text-align: center;
}
#header .text_zone p {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 0.938em;
	font-weight: 500;
	letter-spacing: 15px;
	color: #47b9ed;
}
#header .text_zone h2 {
	margin-top: 46px;
	line-height: 1.8;
	font-size: 2.75em;
	font-weight: 100;
	color: #fff;
}
#header .text_zone h2 span {
	font-weight: 500;
}
#header .text_zone a {
	display: block;
	position: absolute;
	left: 50%;
	bottom: -100px;
	margin-left: -110px;
	width: 220px;
	height: 55px;
	line-height: 55px;
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: 400;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	transition: background-color .3s, color .3s;
}
#header .text_zone a:hover {
	background-color: rgba(38,157,210,.6);
	border-color: rgba(38,157,210,.2);
}
#header .keyvisual {
	position: relative;
	width: auto;
	height: 700px;
}
#header .keyvisual ul {
	position: absolute;
	width: 100%;
	height: 700px;
}
#header .keyvisual li {
	position: relative;
	height: 700px;
	overflow: hidden;
}
#header .keyvisual li img {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -960px
}
#header .mobile {
	position: fixed;
	right: -240px;
	top: 0;
	z-index: 1000;
	width: 240px;
	height: 100vh;
	background-color: #fff;
	transition: right .3s;
}
#header .mobile.active {
	right: 0;
}
#m_gnb {
	padding: 30px 20px;
}
#m_gnb li {
	border-bottom: 1px solid #f1f1f1;
}
#m_gnb li:last-child {
	border-bottom: none;
}
#m_gnb a {
	display: block;
	padding: 20px 0;
	font-size: 0.938em;
	font-weight: 400;
	color: #087eb2;
}
#header .tab {
	display: none;
	position: absolute;
	right: 10px;
	top: 34px;
	z-index: 1100;
	width: 28px;
	height: 23px;
	background: url(../images/ico_tab_open.png) no-repeat 0 0;
	transition: right .3s;
}
#header .tab.active {
	right: 250px;
	width: 24px;
	height: 23px;
	background-image: url(../images/ico_tab_close.png);
}
#header .tab span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	text-indent: -9999px;
	font-size: 0;
}
#header .dim {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
}
#header .dim.active {
	display: block;
}

@media only screen and (max-width: 940px) {
	#header .menu_zone .menu_zone_inner {
		left: 0;
		margin-left: 0;
		width: 100%;
	}
	#header .text_zone {
		left: 0;
		margin-left: 0;
		width: 100%;
	}
	#gnb li a {
		margin-left: 25px;
	}
}
@media only screen and (max-width: 720px) {
	#header .text_zone h2 {
		line-height: 1.75;
		font-size: 2.3em;
	}
	#logo {
		margin-left: 10px;
	}
	#gnb {
		display: none;
	}
	#header .tab {
		display: block;
	}
}
@media only screen and (max-width: 560px) {
	#header .text_zone p {
		display: none;
	}
	#header .text_zone h2 {
		margin-top: 20px;
		line-height: 2.5;
		font-size: 1.8em;
	}
}
@media only screen and (max-width: 460px) {
	#header .text_zone h2 {
		line-height: 3;
		font-size: 1.5em;
	}
	#header .text_zone a {
		margin-left: -90px;
		width: 180px;
		font-size: 0.75em;
	}
}
@media only screen and (max-width: 360px) {
	#header .text_zone h2 {
		line-height: 3;
		font-size: 1.3em;
	}
}
@media only screen and (orientation: portrait) {
	.mobile #header {
		height: 100vh;
	}
}

/* business */
#business {
	padding:100px 0;
}
#business .title {
	text-align: center;
}
#business .title h2 {
	font-size: 2.25em;
	font-weight: 500;
	color: #47b9ed;
}
#business .title p {
	margin-top: 14px;
	font-size: 1em;
	color: #777;
}
#business .title p .br {
	display: none;
}
#business .content {
	margin: 0 auto;
	max-width: 940px;
}
#business .content::before {
	content: "";
	display: block;
}
#business .content::after {
	content: "";
	display: block;
	clear: left;
}
#business .content li {
	float: left;
	margin-left: 34px;
	margin-top: 72px;
	width: calc((100% - 68px)/3);
	opacity: 0;
	transform: translateY(-100px);
	transition: opacity .4s, transform .6s;
}
#business .content li:nth-child(2) {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity .4s, transform .6s;
}
#business.active .content li {
	opacity: 1;
	transform: translateY(0);
}
#business .content li:first-child {
	margin-left: 0;
}
#business .content li .icon {
	text-align: center;
}
#business .content li .icon a {
	display: inline-block;
	width: 72px;
	height: 72px;
}
#business .content li .icon a img {
	padding: 7px;
	border: 2px solid #269dd2;
	border-radius: 50px;
}
#business .content li .desc {
	text-align: center;
}
#business .content li .desc dt {
	padding: 20px 0 12px;
	font-size: 1.125em;
	font-weight: 500;
}
#business .content li .desc dd {
	margin-top: 10px;
	font-size: 0.875em;
	color:#aaa;
}
#business .content li:nth-child(3n+1) {
	margin-left: 0;
}

@media only screen and (max-width: 580px) {
	#business .content {
		overflow-x: hidden;
	}
	#business .content li {
		margin-left: 0;
		width: 100%;
		transform: translateX(-100px);
	}
	#business .content li:nth-child(2) {
		transform: translateX(100px);
	}
	#business.active .content li {
		transform: translateX(0);
	}
}
@media only screen and (max-width: 460px) {
	#business .title p .br {
		display: block;
	}
}

/* portfolio */
#portfolio {
	padding: 100px 0 120px;
	background-color: #f7f7f7;
}
#portfolio .title {
	text-align: center;
}
#portfolio .title h2 {
	font-size: 2.25em;
	font-weight: 500;
	color: #47b9ed;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity .4s, transform .6s;
}
#portfolio .title p {
	font-size: 1em;
	color: #777;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity .4s, transform .6s;
	transition-delay: .4s;
}
#portfolio.active .title h2,
#portfolio.active .title p {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s, transform .6s;
}
#portfolio.active .title p {
	margin-top: 14px;
}
#portfolio .title p .br {
	display: none;
}
#portfolio .content {
	margin: 0 auto;
	margin-top: 82px;
	max-width: 940px;
}
#portfolio .content::before,
#portfolio .content::after {
	content: "";
	display: block;
}
#portfolio .content::after {
	clear: left;
}
#portfolio .content li {
	position: relative;
	float: left;
	margin-left: 34px;
	margin-bottom: 45px;
	width: calc((100% - 68px)/3);
	overflow: hidden;
	background-color: #fff;
	opacity: 0;
	transform: translateY(-100px);
	transition: opacity .4s, transform .6s;
}
#portfolio .content li:nth-child(even) {
	transform: translateY(100px);
	transition-delay: .3s;
}
#portfolio.active .content li {
	opacity: 1;
	transform: translateY(0);
}
#portfolio .content li:nth-child(3n+1) {
	margin-left: 0;
}
#portfolio .content li a {
	display: block;
}
#portfolio .content li a .photo::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -100%;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(38,157,210,.4);
	transition: all .3s;
}
#portfolio .content li a img {
	transition: all .3s;
}
#portfolio .content li a:hover .photo {
	overflow: hidden;
}
#portfolio .content li a:hover .photo::after {
	bottom: 0;
	opacity: 1;
}
#portfolio .content li a:hover .photo img {
	max-width: 100%;
	transform: scale(1.05);
}
#portfolio .content li .desc {
	padding-top: 18px;
	height: 5.813em;
	text-align: center;
}
#portfolio .content li .desc dt {
	font-size: 1em;
	font-weight: 500;
	color: #333;
}
#portfolio .content li .desc dd {
	margin-top: 8px;
	font-size: 0.875em;
	color: #777;
}

@media only screen and (max-width: 940px) {
	#portfolio .content li {
		width: calc((100% - 68px)/3);
	}
	#portfolio .content li a img {
		width: 100%;
	}
	#portfolio .content li a .photo::after {
	bottom: 0;
	}
}
@media only screen and (max-width: 720px) {
	#portfolio .content li:nth-child(3n+1) {
		margin-left: 34px;
	}
	#portfolio .content li:nth-child(2n+1) {
		margin-left: 0;
	}
	#portfolio .content {
		overflow-x: hidden;
	}
	#portfolio .content li {
		width: calc((100% - 34px)/2);
		transform: translateX(-100px);
	}
	#portfolio .content li:nth-child(even) {
		transform:translateX(100px);
		transition-delay: .3s;
	}
	#portfolio.active .content li {
		transform: translateX(0);
	}
}
@media only screen and (max-width: 360px) {
	#portfolio .title p .br {
		display: block;
	}
	#portfolio .content li:nth-child(3n+1) {
		margin-left: 0;
	}
	#portfolio .content li:nth-child(2n+1) {
		margin-left: 0;
	}
	#portfolio .content li:nth-child(n+1) {
		margin-left: 0;
	}
	#portfolio .content li {
		width: 100%;
	}
}

/* service */
#service {
	padding: 120px 0 150px;
	overflow-x: hidden;
}
#service .title {
	text-align: center;
}
#service .title h2 {
	font-size: 2.25em;
	font-weight: 500;
	color: #47b9ed;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity .4s, transform .6s;
}
#service .title p {
	font-size: 1em;
	color: #777;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity .4s, transform .6s;
	transition-delay: .4s;
}
#service.active .title h2,
#service.active .title p {
	opacity: 1;
	transform: translateX(0);
}
#service.active .title p {
	margin-top: 14px;
	line-height: 1.8;
}
#service .title p .br {
	display: none;
}
#service .service_list {
	margin-top: 60px;
}
#service .service_list li {
	position: relative;
	margin: 0 auto;
	margin-bottom: 94px;
	width: 180px;
	height: 180px;
	opacity: 0;
	cursor: pointer;
	transform: translateX(-200px);
	transition: opacity .4s, transform .6s;
}
#service .service_list li:nth-child(even) {
	transform: translateX(200px);
}
#service.active .service_list li {
	opacity: 1;
	transform: translateX(0);
}
#service .service_list li:last-child {
	margin-bottom: 0;
}
#service .service_list li::after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 95px;
	background-color: #f1f1f1;
}
#service .service_list li:last-child::after {
	display: none;
}
#service .service_list li .photo {
	position: relative;
	width: 180px;
	height: 180px;
	overflow: hidden;
	border: 7px solid #f1f1f1;
	border-radius: 90px;
}
#service .service_list li .photo::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(38,157,210,.4);
}
#service .service_list li .photo img {
	max-width: 100%;
	opacity: 0.75;
	transform: scale(1);
	transition: transform 0.3s;
}
#service .service_list li:hover .photo::after {
	display: none;
}
#service .service_list li:hover .photo img {
	opacity: 1;
	transform: scale(1.125);
}
#service .service_list li .desc {
	position: absolute;
	top: 30px;
	width: 372px;
	height: 172px;
}
#service .service_list li:nth-child(odd) .desc {
	left: -390px;
	text-align: right;
}
#service .service_list li:nth-child(even) .desc {
	left: 200px;
	text-align: left;
}
#service .service_list li div.desc dt {
	font-size: 1.063em;
	font-weight: 500;
	color: #222;
}
#service .service_list li div.desc dt .br {
	display: none;
}
#service .service_list li div.desc dd {
	margin-top: 15px;
	line-height: 1.6;
	font-size: 0.938em;
	color: #aaa;
}

@media only screen and (max-width: 980px) {
	#service .service_list li {
		margin-left: 5%;
		margin-right: 5%;
		width: auto;
	}
	#service .service_list li .photo {
		width:168px;
		height:168px;
	}
	#service .service_list li:nth-child(odd) .desc,
	#service .service_list li:nth-child(even) .desc {
		left: auto;
		right: 10px;
		width: calc(100% - 200px);
		text-align: left;
	}
	#service .service_list li::after {
		left: 84px;
		height: 105px;
	}
	#service .service_list li .photo::after {
		width: 168px;
	}
	#service .service_list li br {
		display: none;
	}
	#service .service_list li dt br {
		display: inline;
	}
}
@media only screen and (max-width: 460px) {
	#service .title p .br {
		display: block
	}
	#service .service_list li div.desc dt {
		margin-top: 38px;
		font-weight: 400;
	}
	#service .service_list li div.desc dt .br {
		display: block;
	}
	#service .service_list li div.desc dd {
		display: none;
	}
}
@media only screen and (max-width: 360px) {
	#service .service_list li div.desc dt {
		display: none;
	}
	#service .service_list li {
		margin-left:calc((100% - 168px)/2);
		margin-right:0;
		width:168px;
	}
}

/* awards */
#awards {
	padding-top: 120px;
	overflow: hidden;
	background-color: #f9f9f9;
}
#awards .title {
	text-align: center;
}
#awards .title h2 {
	font-size: 2.5em;
	font-weight: 600;
	color: #222;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity .4s,transform .6s;
}
#awards .title p {
	font-size: 1em;
	color: #777;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity .4s, transform .6s;
	transition-delay: .4s;
}
#awards.active .title h2, #awards.active .title p {
	opacity: 1;
	transform: translateX(0);
}
#awards.active .title p {
	margin-top: 10px;
}
#awards .title p .br {
	display: none;
}
#awards .awards_list {
	margin: 0 auto;
	margin-top: 82px;
	padding: 0 69px;
	max-width: 940px;
}
#awards .awards_list::before, #awards .awards_list::after {
	content: "";
	display: block;
}
#awards .awards_list::after {
	clear: left;
}
#awards .awards_list > ul > li {
	float: left;
	margin-left: 46px;
	width: calc((100% - 92px)/3);
	opacity: 0;
	transform: translateY(-100px);
	transition: opacity .4s, transform .6s;
	transition-delay: .4s;
}
#awards .awards_list > ul > li:nth-child(even) {
	transform: translateY(100px);
}
#awards.active .awards_list > ul > li {
	opacity: 1;
	transform: translateY(0);
}
#awards .awards_list > ul > li:first-child {
	margin-left: 0;
}
#awards .awards_list > ul > li > .photo {
	overflow: hidden;
	border: 7px solid #fff;
	border-radius: 200px;
}
#awards .awards_list > ul > li > .photo > img {
	width: 100%;
	height: auto;
}
#awards .awards_list li .desc {
	text-align: center;
}
#awards .awards_list li .desc dt {
	padding: 18px 0 10px;
	font-size: 1em;
	font-weight: 700;
	color: #222;
}
#awards .awards_list li .desc dd {
	margin-top: 5px;
	font-family: "Open Sans",sans-serif;
	font-size: 0.875em;
	color: #777;
}
#awards .signature {
	margin-top: 120px;
	text-align: center;
	background-color: #fff;
}
#awards .signature ul li {
	display: inline-block;
	margin-left: 1px;
	padding: 42px 0;
}
#awards .signature ul li a {
	display: block;
	height: 80px;
	line-height: 80px;
}

@media only screen and (max-width: 940px) {
	#awards .awards_list {
		margin: 0;
		margin-top: 82px;
		padding-bottom: 120px;
	}
	#awards .awards_list > ul > li {
		width: calc((100% - 92px)/3);
	}
	#awards .signature {
		margin-top:0;
		height: 18em;
	}
	#awards .signature ul li {
		float: left;
		margin: 0 auto;
		margin-left: 9px;
		width: calc((100% - 27px)/4);
	}
	#awards .signature ul li:first-child {
		margin-left: 0;
	}
	#awards .signature ul li:nth-child(5) {
		margin-left: 0;
		padding-left: 15%;
		padding-top: 0;
		width: calc((100% - 18px)/3);
	}
	#awards .signature ul li:nth-child(6) {
		padding-top: 0;
		width: calc((100% - 18px)/3);
	}
	#awards .signature ul li:nth-child(7) {
		padding-right: 15%;
		padding-top: 0;
		width: calc((100% - 18px)/3);
	}
}
@media only screen and (max-width: 720px) {
	#awards .signature {
		height: 33em;
	}
	#awards .awards_list > ul > li {
		float: none;
		margin: 0 auto;
		margin-top: 46px;
		width: 234px;
		transform: translateX(-100px);
		transition-delay: .4s;
	}
	#awards .awards_list > ul > li:first-child {
		margin: 0 auto;
	}
	#awards .awards_list > ul > li:nth-child(even) {
		transform: translateX(100px);
	}
	#awards.active .awards_list > ul > li {
		transform: translateX(0);
	}
	#awards .signature ul li {
		float: left;
		margin: 0 auto;
		margin-left: 9px;
		width: calc((100% - 9px)/2);
	}
	#awards .signature ul li:first-child {
		margin-left: 0;
	}
	#awards .signature ul li:nth-child(3) {
		padding-top: 0;
	}
	#awards .signature ul li:nth-child(4) {
		padding-top: 0;
	}
	#awards .signature ul li:nth-child(5) {
		margin-left: 0;
		padding-left: 0;
		padding-top: 0;
		width: calc((100% - 9px)/2);
	}
	#awards .signature ul li:nth-child(6) {
		padding-top: 0;
		width: calc((100% - 9px)/2);
	}
	#awards .signature ul li:nth-child(7) {
		padding-right: 0;
		padding-top: 0;
		width: calc((100% - 9px)/2);
	}
	#awards .signature ul li:nth-child(odd) {
		margin-left: 0;
	}
}
@media only screen and (max-width: 460px) {
	#awards .signature {
		display: none;
	}
	#awards .title p .br {
		display: block;
	}
	#awards .awards_list {
		padding: 0 0 120px;
	}
}

/* contact */
#contact {
	padding: 110px 0 115px;
	height: 676px;
	overflow: hidden;
	background: #087eb2 url(../images/contact_background.jpg) no-repeat center center;
	background-size: cover;
}
#contact .title {
	text-align: center;
}
#contact .title h2 {
	font-size: 2.25em;
	font-weight: 500;
	color: #fff;
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity .4s, transform .6s;
}
#contact .title p {
	margin-top: 14px;
	font-size: 1em;
	color: rgba(255,255,255,.5);
	opacity: 0;
	transform: translateX(-100px);
	transition: opacity .4s, transform .6s;
	transition-delay: .4s;
}
#contact.active .title h2,
#contact.active .title p {
	opacity: 1;
	transform: translateX(0);
}
#contact .form {
	margin: 0 auto;
	margin-top: 78px;
	max-width: 940px;
}
#contact .form .input_wrap {
	float: left;
	width: 455px;
}
#contact .form .input_wrap input {
	float: left;
	margin-top: 28px;
	width: 100%;
	height: 50px;
	opacity: 0;
	border-radius: 5px;
	transform: translateX(-100px);
	transition: opacity .4s, transform .6s;
}
#contact.active .form .input_wrap input {
	opacity: 1;
	transform: translateX(0);
}
#contact .form .input_wrap input:first-child {
	margin-top: 0;
}
#contact .form .text_wrap {
	float: right;
	width: 455px;
	height: 210px;
}
#contact .form .text_wrap textarea {
	padding-top: 20px;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 5px;
	transform: translateX(100px);
	transition: opacity .4s, transform .6s;
}
#contact.active .form .text_wrap textarea {
	opacity: 1;
	transform: translateX(0);
}
#contact .form .submit::before,
#contact .form .submit::after {
	content: "";
	display: block;
	clear: both;
}
#contact .form .submit {
	text-align: center;
}
#contact .form .submit input {
	margin-top: 53px;
	width: 240px;
	height: 65px;
	line-height: 65px;
	background-color: rgba(38,157,210,.6);
	color: #fff;
	border: none;
	cursor: pointer;
	opacity: 0;
	border-radius: 3px;
	transform: translateY(100px);
	transition: opacity .4s, transform .6s, background-color .3s;
}
#contact.active .form .submit input {
	opacity: 1;
	transform: translateY(0);
}
#contact .form .submit input:hover {
	background-color: #087eb2;
}

@media only screen and (max-width: 940px) {
	#contact {
		height: auto;
		overflow-x: hidden;
	}
	#contact .form {
		padding: 0 50px;
	}
	#contact .form .input_wrap {
		width: 100%;
	}
	#contact .form .text_wrap {
		padding-top: 28px;
		width: 100%;
	}
	#contact .form .text_wrap textarea {
		transform: translateX(-100px);
	}
	#contact.active .form .text_wrap textarea {
		transform: translateX(0);
	}
	#contact .form .submit input {
		transform: translateX(100px);
	}
}
@media only screen and (max-width: 460px) {
	#contact .form .input_wrap input {
		margin-top: 10px;
	}
	#contact .form .text_wrap {
		margin-top: 10px;
		padding-top: 0;
	}
	#contact .form .submit input {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 360px) {
	#contact .form {
		padding: 0;
	}
	#contact .form .submit input {
		width: 220px;
	}
}

/* footer */
#footer {
	margin: 0 auto;
	padding: 20px 0;
	max-width: 940px;
}
#footer .btn_top {
	position: fixed;
	right: -100px;
	bottom: 28px;
	width: 50px;
	height: 50px;
	line-height: 45px;
	text-align: center;
	background-color: rgba(38,157,210,.6);
	border-radius: 40px;
	transition: right .3s;
}
#footer .btn_top.active {
	right: 20px;
}
#footer .btn_top a {
	font-size: 1.5em;
	font-weight: 600;
	color: #fff;
}
#footer .address {
	float: left;
	width: 80%;
}
#footer .address li {
	display: inline-block;
	margin-left: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 0.75em;
	font-weight: 500;
	color: #555;
}
#footer .footer_sns {
	float: right;
	line-height: 60px;
}
#footer .footer_sns li {
	display: inline-block;
}
#footer .footer_sns li a {
	display: block;
	width: 35px;
	height: 35px;
	line-height: 40px;
	text-align: center;
	font-size: 1.5em;
	background-color: #fff;
	color: rgba(0,0,0,.2);
	border-radius: 40px;
}
#footer::before,#footer::after {
	content: "";
	display: block;
	clear: both;
}

@media only screen and (max-width: 940px) {
	#footer .address {
		width: 60%;
	}
}
@media only screen and (max-width:720px) {
	#footer .address {
		width: 100%;
	}
	#footer .footer_sns {
		float: none;
		margin-left: 10px;
	}
}
@media only screen and (max-width:460px) {
	#footer .address {
		text-align: center;
	}
	#footer .address li {
		margin-left: 0;
	}
	#footer .footer_sns {
		margin-left: 0;
		text-align: center;
	}
}